/* google font - pippins */
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

/* global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.set-global-width {
    max-width: 1414px;
    margin: 0 auto;
}

.set-bg-black {
    background-color: #161616;
}

.set-bg-whilte {
    background-color: #ffffff;
}

.btn-punch {
    background-color: #DD0000;
    border-color: #DD0000;
    padding: 15px 25px;
    border-radius: 5px;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.4375rem;
    color: #FFFFFF;
}

.btn-primary {
    background-color: #ffffff;
    border-color: #ffffff;
    padding: 15px 40px;
    border-radius: 10px;

    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #161616;
}

.btn-secondary {
    background-color: #ffffff;
    border-color: #161616;
    padding: 5px 20px;
    border-radius: 5px;

    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #161616;
}

/* hero section style */
.hero-sect {
    padding: 33px 15px 0 125px;
    border-radius: 30px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 100px;
}

.hero-sect-wrapper {
    display: flex;
    gap: 20px;
    align-items:end;
    justify-content: center;
}

.hero-left-block {
    margin-bottom: 111px;
}

.hero-head {
    font-weight: 700;
    font-size: 4.375rem;
    line-height: 5rem;
    color: #ffffff;
    margin-bottom: 20px;
}

.hero-copy {
    font-weight: 400;
    line-height: 1.625rem;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.hero-right-block img {
    display: block;
}

/* main area styles */


/* schedule section style */
.schedule-sect-wrapper {
    display: flex;
    align-items: start;
    justify-content: space-around;
    gap: 50px;
    margin-bottom: 130px;
}

.schedule-left-wrapper {
    background-color: #161616;
    padding: 30px;
    border-radius: 10px;
    width: 25%;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.schedule-left-wrapper button:nth-child(3) {
    background-color: #DD0000;
    border-color: #DD0000;
    color: #ffffff;
}

.schedule-right-wrapper {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content:center;
    column-gap: 50px;
    row-gap: 24px
}

.event-schedule {
    /* width: 312px; */
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    overflow: hidden;
}

.event-photo {
    margin-bottom: 20px;
}

.event-photo img {
    width: 100%;
}

.event-desc {
    margin: 20px;
}

.event-title {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.6875rem;
    color: #161616;
    margin-top: 15px;
}

.event-info-wrapper {
    display: flex;
    gap: 40px;
    justify-content: start;
}

.event-info {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
    color: #161616CC;
    margin-top: 20px;
}

/* Footer Section Styles */
footer {
    padding: 130px;
}

.footer-title {
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 3.75rem;
    text-align: center;
    color: #ffffff;
    margin-bottom: 100px;
}

.footer-nav a {
    text-decoration: none;
    font-weight: 500;
    line-height: 1.5rem;
    color: #B9B9B9;
    color: #B9B9B9;
}

.footer-nav li {
    list-style: none;
    margin: 0;
}

.footer-nav ul {
    display: flex;
    gap: 20px;
    justify-content: space-around;
}


/* ----------------------------------------------- */
@media screen and (max-width: 768px) {}


/* ----------------------------------------------- */
@media screen and (min-width: 768px) and (max-width: 992px) {

    .hero-left-block {
        margin: 60px 0 60px 75px;
    }


    .schedule-sect-wrapper {
        flex-direction: column;
    }

    .schedule-left-wrapper {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        background-color: transparent;
    }

    schedule-left-wrapper>button {
        flex: 1;
        border:1px solid #E8E8E8;
    }

    .schedule-right-wrapper {
        border: 1px solid tomato;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        align-items: center;
    }
}